{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to tweet app</h1>
    </div>
</div>

<div class="row" id="tweets">
    Replace me
</div> 

<script>
    const tweetsElement = document.getElementById("tweets")
    

    const xhr = new XMLHttpRequest()
    const method = "GET" // as opposed to 'POST'
    const url = "/tweets"
    const responseType = "json"

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
        return
    }

    function LikeBtn(tweet) {
        var strLikes = "Likes"
        if (tweet.likes == 1) { strLikes = "Like" } 
        return "<button class='btn btn-primary btn-small' onclick=handleDidLike(" 
        + tweet.id + "," + tweet.likes +")>" + tweet.likes + " " + strLikes + "</button>"
    }

    function formatTweetElement(tweet) {
        var formattedTweet = 
        "<div class='col-11 border py-3 m-4' id='tweet-" + tweet.id + "'>" 
        + "<p>" + tweet.content + "</p>"
        + "<div class='btn-group'>" + LikeBtn(tweet) + "</div>"
        + "</div>"
        return formattedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for (i=0; i<listedItems.length;i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()

</script>

{% endblock content %}